<h1>Editing {{city}}, {{state}}</h1>

<div id="messages"></div>

<div class="form-group">
    <label for="city">City</label>
    <input type="text" name="city" value="{{city}}" class="form-control" id="city">
    <span class="input-icon"></span>
</div>
<div class="form-group">
    <label for="state">State</label>
    <input type="text" name="state" value="{{state}}" class="form-control" id="state">
    <span class="input-icon"></span>
</div>
<button class="btn btn-block btn-lg btn-primary" id="save">save</button>
