<img src="{{img}}" class="img-radar">

<img src="{{img_vis}}" class="img-visible">

<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-primary btn-radar"><span class="fui-photo"></span></a>
        <a class="btn btn-primary btn-visible"><span class="fui-eye"></span></a>
    </div>
</div>