<div class="col-xs-3">
    <div class="tile">
        <h3 class="tile-title">{{city}}, {{state}}</h3>
        <p>{{curTemp}}</p>
        <a class="btn btn-primary btn-large btn-block" href="/#/weather/{{locationId}}">Get Details</a>
    </div>
</div>
