<h2 id="title"></h2>

<div id="snapshots"></div>

<div class="row">
    <div class="col-xs-4">
        <div id="satellite"></div>
    </div>
    <div class="col-xs-8">
        <div id="details"></div>

        <div id="forecast"></div>
    </div>
</div>

<!-- <div id="details"></div> -->

<!-- <div id="satellite"></div> -->

<!-- <div id="forecast"></div> -->